* {
  box-sizing: border-box;
}

header {
    background: none repeat scroll 0 0 #33cc33;
    border-bottom: medium none;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
    text-align: center;
}

